/node_nodules
/dist
/src/**/*.scss.d.ts
/node_nodules
/dist
/lambda/
/scripts
/config
.history
public
dist
.umi
mock
.commitlint.config.js
*less.d.ts
.mfsu
.mfsu-prod
*autoGenerate.d.ts
*autoGenerate.ts